<!-- <mat-sidenav-container>
    <mat-sidenav>Start</mat-sidenav>
    Implicit Main

  </mat-sidenav-container>
   -->
  
  <mat-sidenav-container class="app-sidenav-container">
    <mat-sidenav #sidenav class="app-sidenav mat-elevation-z10">
      <mat-toolbar color="primary">
        All Inbound
      </mat-toolbar>
      
      <mat-nav-list>
          <mat-list-item>
             <a>Item One</a>

          </mat-list-item>
        </mat-nav-list>

      <!-- <div>
          Filter BY:
      </div>
      <div>
          SEARCH
      </div>
      <div>
          Workflow Status
      </div>
   -->
    </mat-sidenav>
  
    <div class="app-sidenav-content">
  
      <div class="wrapper">
          <div>
              Bundles
          </div>
          <div>
              Individual Mail
          </div>

        
      </div>
    </div>
  
  </mat-sidenav-container>
  <!-- <router-outlet></router-outlet> -->