<mat-toolbar color="primary" style="padding-left:40px;" >
    <span>iConstituent</span>
    <div style="display:inline-block;margin-left:20px;">
        <input type="text" placeholder="SEARCH">
    </div>
    
    <span style="flex: 1 1 auto;"></span>

    <button mat-button>CREATE NEW</button>
    <span>Michael Fisher</span>
</mat-toolbar> 



    <mat-sidenav-container class="example-container" >
        <mat-sidenav mode="side" opened class="example-sidebar-container">
            <div style="margin-bottom:20px;">
                <a mat-icon>
                    <mat-icon>notifications</mat-icon>
                </a>
            </div>
            <div style="margin-bottom:20px;">
                <a mat-icon>
                    <mat-icon>chat_bubble</mat-icon>
                </a>
            </div>
            <div style="margin-bottom:20px;">
                <a mat-icon>
                    <mat-icon>people</mat-icon>
                </a>
            </div>
            <div style="margin-bottom:20px;">
                <a mat-icon>
                    <mat-icon>flag</mat-icon>
                </a>
            </div>
            <div style="margin-bottom:20px;">
                <a mat-icon>
                    <mat-icon>insert_chart</mat-icon>
                </a>
            </div>
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet>

        </mat-sidenav-content>
    </mat-sidenav-container>

